
<div class="new-event-container">
  <h1 class="new-event-title">Edit Event</h1>

  <%= simple_form_for( @event, html: { class: 'new-event-form' } ) do |f| %>

    <%= f.input :stage_name, label_html: { class: 'form-label' }, input_html: { class: 'form-input' } %>

    <%= f.input :category, label_html: { class: 'form-label' }, input_html: { class: 'form-input' } %>

    <%= f.input :specialty, label_html: { class: 'form-label' }, input_html: { class: 'form-input' } %>

    <%= f.input :description, as: :text, label_html: { class: 'form-label' }, input_html: { class: 'form-textarea' } %>

    <%= f.input :local, label_html: { class: 'form-label' }, input_html: { class: 'form-input' } %>

    <%= f.input :event_date, as: :date, label_html: { class: 'form-label' }, input_html: { class: 'form-input' } %>

    <%= f.input :price, as: :string, label_html: { class: 'form-label' }, input_html: { class: 'form-input', placeholder: 'R$' } %>

    <%= f.input :photo, as: :file %>

    <%= f.button :submit, "Create Event", class: 'btn-submit' %>

  <% end %>
</div>
