<!-- FILEPATH: /home/benjamin/code/Benyoumen/SHOWCONNECT/app/views/events/edit.html.erb -->

<h1>Edit Event</h1>

<%= form_for @event do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title, value: @event.title %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_area :description, value: @event.description %>
  </div>

  <div>
    <%= f.label :date %>
    <%= f.text_field :date, value: @event.date %>
  </div>

  <div>
    <%= f.submit "Update Event" %>
  </div>
<% end %>
