<!-- Adicione links de ancoragem para cada categoria no menu suspenso -->


  <div class="bg-categories">
    <div class="dropdown  categories-dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="categoryDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Categories / Create Your Event
      </button>
      <div class="dropdown-menu" id="dropdown-show" aria-labelledby="categoryDropdown">
        <%= link_to "Create Your Event", new_event_path, class: "dropdown-item" %>
        <a class="dropdown-item" href="#djs">Dj's</a>
        <a class="dropdown-item" href="#magic">Magic</a>
        <a class="dropdown-item" href="#humor">Humor</a>
        <a class="dropdown-item" href="#singers">Singers</a>
        <a class="dropdown-item" href="#dance">Dance</a>
        <a class="dropdown-item" href="#workshops">Workshops</a>
        <a class="dropdown-item" href="#gastronomy">Gastronomy</a>
        <a class="dropdown-item" href="#support">Support</a>
      </div>
    </div>
  </div>

















  <div id="Create Your Event">
    <h1 class="h1-Categories"></h1>
  <div class="events-container">
    <% @events.each do |event| %>
      <div class="event-card">
        <h2 class="event-title"><%= event.stage_name %></h2>
        <%# <%= image_tag event.image_url, class: "event-image" if event.image_url.present? %>
        <div class="event-info">
        <% if event.photo.key  %>
          <%= cl_image_tag event.photo.key, class: "card-img-top" %>
        <% else %>
          <%= image_tag "https://images.unsplash.com/photo-1604177052603-c2b4cff228db?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c2hvd3xlbnwwfHwwfHx8MA%3D%3D",class: "card-img-top" %>
          <% end %>
          <p><i class="icon-category"></i> <strong>Categoria: </strong>  <%=" "%> <%= event.category %></p>
          <p><i class="icon-specialty"></i> <strong>Especialidade: </strong> <%= event.specialty %></p>
          <p><i class="icon-description"></i> <strong>Descrição: </strong> <%= event.description %></p>
          <p><i class="icon-location"></i> <strong>Local: </strong> <%= event.local %></p>
          <p><i class="icon-date"></i> <strong>Data: </strong> <%= l(event.event_date, format: :long) %></p>
          <p><i class="icon-price"></i> <strong>Preço: </strong> <%= number_to_currency(event.price, unit: "R$ ", separator: ",", delimiter: ".") %></p>
        </div>
          <%= link_to "See More", event_path(event), class: "btn btn-primary" %>
      </div>
    <% end %>
    </div>
  </div>

  <div id="djs">
    <h1 class="h1-Categories"><i class="fa-solid fa-headphones"></i> Dj's</h1>
  <div class="events-container">
    <% @events.each do |event| %>
      <div class="event-card">
        <h2 class="event-title"><%= event.stage_name %></h2>
        <%# <%= image_tag event.image_url, class: "event-image" if event.image_url.present? %>
        <div class="event-info">
        <% if event.photo.key  %>
          <%= cl_image_tag event.photo.key, class: "card-img-top" %>
        <% else %>
          <%= image_tag "https://images.unsplash.com/photo-1604177052603-c2b4cff228db?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c2hvd3xlbnwwfHwwfHx8MA%3D%3D",class: "card-img-top" %>
          <% end %>
          <p><i class="icon-category"></i> <strong>Categoria: </strong> <%= event.category %></p>
          <p><i class="icon-specialty"></i> <strong>Especialidade: </strong> <%= event.specialty %></p>
          <p><i class="icon-description"></i> <strong>Descrição: </strong> <%= event.description %></p>
          <p><i class="icon-location"></i> <strong>Local: </strong> <%= event.local %></p>
          <p><i class="icon-date"></i> <strong>Data: </strong> <%= l(event.event_date, format: :long) %></p>
          <p><i class="icon-price"></i> <strong>Preço: </strong> <%= number_to_currency(event.price, unit: "R$ ", separator: ",", delimiter: ".") %></p>
        </div>
          <%= link_to "See More", event_path(event), class: "btn btn-primary" %>
      </div>
    <% end %>
    </div>
  </div>

  <div id="magic">
    <h1 class="h1-Categories"><i class="fa-solid fa-wand-magic-sparkles"></i> Magic</h1>
  <div class="events-container">
    <% @events.each do |event| %>
      <div class="event-card">
        <h2 class="event-title"><%= event.stage_name %></h2>
        <%# <%= image_tag event.image_url, class: "event-image" if event.image_url.present? %>
        <div class="event-info">
        <% if event.photo.key  %>
          <%= cl_image_tag event.photo.key, class: "card-img-top" %>
        <% else %>
          <%= image_tag "https://images.unsplash.com/photo-1604177052603-c2b4cff228db?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c2hvd3xlbnwwfHwwfHx8MA%3D%3D",class: "card-img-top" %>
          <% end %>
          <p><i class="icon-category"></i> <strong>Categoria: </strong> <%= event.category %></p>
          <p><i class="icon-specialty"></i> <strong>Especialidade: </strong> <%= event.specialty %></p>
          <p><i class="icon-description"></i> <strong>Descrição: </strong> <%= event.description %></p>
          <p><i class="icon-location"></i> <strong>Local: </strong> <%= event.local %></p>
          <p><i class="icon-date"></i> <strong>Data: </strong> <%= l(event.event_date, format: :long) %></p>
          <p><i class="icon-price"></i> <strong>Preço: </strong> <%= number_to_currency(event.price, unit: "R$ ", separator: ",", delimiter: ".") %></p>
        </div>
          <%= link_to "See More", event_path(event), class: "btn btn-primary" %>
      </div>
    <% end %>
    </div>
  </div>

  <div id="humor">
    <h1 class="h1-Categories"><i class="fa-regular fa-face-grin-tongue-wink"></i> Humor</h1>
  <div class="events-container">
    <% @events.each do |event| %>
      <div class="event-card">
        <h2 class="event-title"><%= event.stage_name %></h2>
        <%# <%= image_tag event.image_url, class: "event-image" if event.image_url.present? %>
        <div class="event-info">
        <% if event.photo.key  %>
          <%= cl_image_tag event.photo.key, class: "card-img-top" %>
        <% else %>
          <%= image_tag "https://images.unsplash.com/photo-1604177052603-c2b4cff228db?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c2hvd3xlbnwwfHwwfHx8MA%3D%3D",class: "card-img-top" %>
          <% end %>
          <p><i class="icon-category"></i> <strong>Categoria: </strong> <%= event.category %></p>
          <p><i class="icon-specialty"></i> <strong>Especialidade: </strong> <%= event.specialty %></p>
          <p><i class="icon-description"></i> <strong>Descrição: </strong> <%= event.description %></p>
          <p><i class="icon-location"></i> <strong>Local: </strong> <%= event.local %></p>
          <p><i class="icon-date"></i> <strong>Data: </strong> <%= l(event.event_date, format: :long) %></p>
          <p><i class="icon-price"></i> <strong>Preço: </strong> <%= number_to_currency(event.price, unit: "R$ ", separator: ",", delimiter: ".") %></p>
        </div>
          <%= link_to "See More", event_path(event), class: "btn btn-primary" %>
      </div>
    <% end %>
    </div>
  </div>

  <div id="singers">
    <h1 class="h1-Categories"><i class="fa-solid fa-microphone"></i> Singers</h1>
  <div class="events-container">
    <% @events.each do |event| %>
      <div class="event-card">
        <h2 class="event-title"><%= event.stage_name %></h2>
        <%# <%= image_tag event.image_url, class: "event-image" if event.image_url.present? %>
        <div class="event-info">
        <% if event.photo.key  %>
          <%= cl_image_tag event.photo.key, class: "card-img-top" %>
        <% else %>
          <%= image_tag "https://images.unsplash.com/photo-1604177052603-c2b4cff228db?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c2hvd3xlbnwwfHwwfHx8MA%3D%3D",class: "card-img-top" %>
          <% end %>
          <p><i class="icon-category"></i> <strong>Categoria: </strong> <%= event.category %></p>
          <p><i class="icon-specialty"></i> <strong>Especialidade: </strong> <%= event.specialty %></p>
          <p><i class="icon-description"></i> <strong>Descrição: </strong> <%= event.description %></p>
          <p><i class="icon-location"></i> <strong>Local: </strong> <%= event.local %></p>
          <p><i class="icon-date"></i> <strong>Data: </strong> <%= l(event.event_date, format: :long) %></p>
          <p><i class="icon-price"></i> <strong>Preço: </strong> <%= number_to_currency(event.price, unit: "R$ ", separator: ",", delimiter: ".") %></p>
        </div>
          <%= link_to "See More", event_path(event), class: "btn btn-primary" %>
      </div>
    <% end %>
    </div>
  </div>

  <div id="dance">
    <h1 class="h1-Categories"><i class="fa-solid fa-child-reaching"></i> Dance</h1>
  <div class="events-container">
    <% @events.each do |event| %>
      <div class="event-card">
        <h2 class="event-title"><%= event.stage_name %></h2>
        <%# <%= image_tag event.image_url, class: "event-image" if event.image_url.present? %>
        <div class="event-info">
        <% if event.photo.key  %>
          <%= cl_image_tag event.photo.key, class: "card-img-top" %>
        <% else %>
          <%= image_tag "https://images.unsplash.com/photo-1604177052603-c2b4cff228db?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c2hvd3xlbnwwfHwwfHx8MA%3D%3D",class: "card-img-top" %>
          <% end %>
          <p><i class="icon-category"></i> <strong>Categoria: </strong> <%= event.category %></p>
          <p><i class="icon-specialty"></i> <strong>Especialidade: </strong> <%= event.specialty %></p>
          <p><i class="icon-description"></i> <strong>Descrição: </strong> <%= event.description %></p>
          <p><i class="icon-location"></i> <strong>Local: </strong> <%= event.local %></p>
          <p><i class="icon-date"></i> <strong>Data: </strong> <%= l(event.event_date, format: :long) %></p>
          <p><i class="icon-price"></i> <strong>Preço: </strong> <%= number_to_currency(event.price, unit: "R$ ", separator: ",", delimiter: ".") %></p>
        </div>
          <%= link_to "See More", event_path(event), class: "btn btn-primary" %>
      </div>
    <% end %>
    </div>
  </div>

  <div id="workshops">
    <h1 class="h1-Categories"><i class="fa-solid fa-person-chalkboard"></i> Workshops</h1>
  <div class="events-container">
    <% @events.each do |event| %>
      <div class="event-card">
        <h2 class="event-title"><%= event.stage_name %></h2>
        <%# <%= image_tag event.image_url, class: "event-image" if event.image_url.present? %>
        <div class="event-info">
        <% if event.photo.key  %>
          <%= cl_image_tag event.photo.key, class: "card-img-top" %>
        <% else %>
          <%= image_tag "https://images.unsplash.com/photo-1604177052603-c2b4cff228db?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c2hvd3xlbnwwfHwwfHx8MA%3D%3D",class: "card-img-top" %>
          <% end %>
          <p><i class="icon-category"></i> <strong>Categoria: </strong> <%= event.category %></p>
          <p><i class="icon-specialty"></i> <strong>Especialidade: </strong> <%= event.specialty %></p>
          <p><i class="icon-description"></i> <strong>Descrição: </strong> <%= event.description %></p>
          <p><i class="icon-location"></i> <strong>Local: </strong> <%= event.local %></p>
          <p><i class="icon-date"></i> <strong>Data: </strong> <%= l(event.event_date, format: :long) %></p>
          <p><i class="icon-price"></i> <strong>Preço: </strong> <%= number_to_currency(event.price, unit: "R$ ", separator: ",", delimiter: ".") %></p>
        </div>
          <%= link_to "See More", event_path(event), class: "btn btn-primary" %>
      </div>
    <% end %>
    </div>
  </div>

  <div id="gastronomy">
    <h1 class="h1-Categories"><i class="fa-solid fa-utensils"></i> Gastronomy</h1>
  <div class="events-container">
    <% @events.each do |event| %>
      <div class="event-card">
        <h2 class="event-title"><%= event.stage_name %></h2>
        <%# <%= image_tag event.image_url, class: "event-image" if event.image_url.present? %>
        <div class="event-info">
        <% if event.photo.key  %>
          <%= cl_image_tag event.photo.key, class: "card-img-top" %>
        <% else %>
          <%= image_tag "https://images.unsplash.com/photo-1604177052603-c2b4cff228db?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c2hvd3xlbnwwfHwwfHx8MA%3D%3D",class: "card-img-top" %>
          <% end %>
          <p><i class="icon-category"></i> <strong>Categoria: </strong> <%= event.category %></p>
          <p><i class="icon-specialty"></i> <strong>Especialidade: </strong> <%= event.specialty %></p>
          <p><i class="icon-description"></i> <strong>Descrição: </strong> <%= event.description %></p>
          <p><i class="icon-location"></i> <strong>Local: </strong> <%= event.local %></p>
          <p><i class="icon-date"></i> <strong>Data: </strong> <%= l(event.event_date, format: :long) %></p>
          <p><i class="icon-price"></i> <strong>Preço: </strong> <%= number_to_currency(event.price, unit: "R$ ", separator: ",", delimiter: ".") %></p>
        </div>
          <%= link_to "See More", event_path(event), class: "btn btn-primary" %>
      </div>
    <% end %>
    </div>
  </div>

  <div id="support">
    <h1 class="h1-Categories"><i class="fa-solid fa-hand-fist"></i> Support</h1>
  <div class="events-container">
    <% @events.each do |event| %>
      <div class="event-card">
        <h2 class="event-title"><%= event.stage_name %></h2>
        <%# <%= image_tag event.image_url, class: "event-image" if event.image_url.present? %>
        <div class="event-info">
        <% if event.photo.key  %>
          <%= cl_image_tag event.photo.key, class: "card-img-top" %>
        <% else %>
          <%= image_tag "https://images.unsplash.com/photo-1604177052603-c2b4cff228db?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c2hvd3xlbnwwfHwwfHx8MA%3D%3D",class: "card-img-top" %>
          <% end %>
          <p><i class="icon-category"></i> <strong>Categoria: </strong> <%= event.category %></p>
          <p><i class="icon-specialty"></i> <strong>Especialidade: </strong> <%= event.specialty %></p>
          <p><i class="icon-description"></i> <strong>Descrição: </strong> <%= event.description %></p>
          <p><i class="icon-location"></i> <strong>Local: </strong> <%= event.local %></p>
          <p><i class="icon-date"></i> <strong>Data: </strong> <%= l(event.event_date, format: :long) %></p>
          <p><i class="icon-price"></i> <strong>Preço: </strong> <%= number_to_currency(event.price, unit: "R$ ", separator: ",", delimiter: ".") %></p>
        </div>
          <%= link_to "See More", event_path(event), class: "btn btn-primary" %>
      </div>
    <% end %>
    </div>
  </div>
