<!-- FILEPATH: /home/benjamin/code/Benyoumen/SHOWCONNECT/app/views/events/new.html.erb -->

<h1>New Event</h1>

<%= simple_form_for @event, url: events_path, method: :post do |form| %>

  <%= form.input :stage_name %>

  <%= form.input :category, as: :string %>

  <%= form.input :specialty, as: :string %>

  <%= form.input :description, as: :text %>

  <%= form.input :local, as: :string %>

  <%= form.input :event_date, as: :date %>

  <%= form.input :price, as: :integer %>

  <%= form.button :submit, "Create Event" %>
<% end %>
