<!-- FILEPATH: /home/benjamin/code/Benyoumen/SHOWCONNECT/app/views/events/show.html.erb -->
<div class="event-detail-container">
  <h1 class="event-detail-title">Event Details</h1>

  <div class="event-detail-card">
    <h2 class="event-stage-name"><%= @event.stage_name %></h2>
    <p class="event-detail"><strong>Category:</strong> <%= @event.category %></p>
    <p class="event-detail"><strong>Specialty:</strong> <%= @event.specialty %></p>
    <p class="event-detail"><strong>Description:</strong> <%= @event.description %></p>
    <p class="event-detail"><strong>Location:</strong> <%= @event.local %></p>
    <p class="event-detail"><strong>Date:</strong> <%= @event.event_date.strftime("%d %B %Y") %></p>
    <p class="event-detail"><strong>Price:</strong> <%= number_to_currency(@event.price, unit: "R$ ", separator: ",", delimiter: ".") %></p>
    <button class="btn-primary"><%= link_to "Edit", edit_event_path %></button>
    <button class="btn-primary"><%= link_to 'Delete', event_path, data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" } %>

  </div>
 <% if @event.photo.key %>
    <%= cl_image_tag @event.photo.key, class: "card-img-top" %>
  <% else %>
    <%= image_tag "https://images.unsplash.com/photo-1604177052603-c2b4cff228db?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c2hvd3xlbnwwfHwwfHx8MA%3D%3D",class: "card-img-top" %>
  <% end %>
</div>
