<!-- FILEPATH: /home/benjamin/code/Benyoumen/SHOWCONNECT/app/views/events/show.html.erb -->
<h1>Event Details</h1>

<div>
  <h2><%= @event.stage_name %></h2>
  <p><strong>Category:</strong> <%= @event.category %></p>
  <p><strong>Espe:</strong> <%= @event.local %></p>
  <p><strong>Descrição:</strong> <%= @event.specialty %></p>
  <p><strong>Local:</strong> <%= @event.local %></p>
  <p><strong>Data:</strong> <%= @event.event_date%></p>
  <p><strong>Preço:</strong> <%= @event.price %></p>
</div>
